@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box ;
    font-family: 'Roboto';
}

.content-box{
    position: relative ;
    width: 336px;
    margin: 10%  auto ;
    padding: 0 20px 19px;
  
    border: 1px solid #c4c4c4 ;
    border-radius: 10px;
    overflow: hidden;
}

.content-box::after{
    content: " ";
    width: 100% ;
    height: 28px ;
    background: #FFDC40 ;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    right: 0 ;
} 

h2{
    font-style: normal ;
    font-weight: 900 ;
    font-size: 26px ;
    line-height: 30px ;
    text-align: center ;
    text-transform: capitalize ;
    color: #000000 ;
    margin-top: 40px ;
}

.sort{
    margin: 24px 7px 15px 0px;
    display: flex ;
    justify-content: flex-end ;
    
}

.sort.img {
    cursor: pointer ;
}

.d-flex-item {
    width: 100% ;
    display: contents ;
    justify-content: center;
}

input {
    display: block ;
    outline: none ;
}

.input-date {
    width: 100% ;
    height: 41px ;
    border: 1px solid #c4c4c4 ;
    border-radius: 10px ;
    padding: o 20px 0 15px ;
}

.form-input {
    position: relative ;
}

.form-input img {
     cursor: pointer ;
     position: absolute ;
     top: 0 ;
     right: 25px ;
}

.send-data{
    position: relative ;
    cursor: pointer ;
     margin: 20px 0 ;
}
.btn {
    cursor: pointer;
    width: 150px ;
    height: 46px ;
   
    display: flex ;
    align-items: center ;
    justify-content: center ;
    background: #833AE0 ;
    border: none ;
    border-radius: 70px ;
    font-size: 14px ;
    line-height: 16px ;
    display: flex ;
    align-items: center ;
    text-align: center ;
    color: #FFFFFF ;
}

.send-data div{
   width: 42px ;
   height: 42px ;
   display: flex ;
   justify-content: center ;
   position: absolute ;
   top: 2px ;
   left: 0 ;
   background: #9953f1 ;
   border-radius: 71px ;
   color: #FFFFFF ;
}

.list {
    list-style: none ;
    padding: 10px 30px ;
    border: 1px solid #c4c4c4 ;
    border-radius: 10px ;
}

.list li {
    margin-bottom: 20px ;
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
}

.list li img {
    cursor: pointer;
}

.list li:last-child{
    margin-bottom: 0;
}